/*-----base-----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  font-size: 62.5%;
}

/*-----grid layout-----*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 80px auto;
  grid-gap: 0px;
  /*prettier-ignore*/
  grid-template-areas: "header" "nav" "main";
}

header {
  grid-area: header;
  background-color: #7377bf;
  font-weight: 200;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 100;
}

nav {
  grid-area: nav;
  background-color: #4d4c72;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 80px;
  z-index: 100;
}

nav img {
  width: 40px;
  margin: 1rem;
}

main {
  grid-area: main;
  background-color: #fefefe;
  display: grid;
  grid-template-rows: 80px repeat(8, minmax(300px, auto));
  grid-template-columns: 1fr;
  grid-gap: 0px;
  /*prettier-ignore*/
  grid-template-areas: "main-header" "dashboard" "traffic" "mobile" "social" "new-members" "activity" "message" "settings";
}

.main-header {
  grid-area: main-header;
}

.dashboard {
  grid-area: dashboard;
  border-bottom: 0.5px solid lightgray;
  padding: 1rem;
}

.traffic {
  grid-area: traffic;
  border-bottom: 0.5px solid lightgray;
  padding: 1rem;
}

.mobile {
  grid-area: mobile;
  border-bottom: 0.5px solid lightgray;
  padding: 1rem;
}

.social {
  grid-area: social;
  border-bottom: 0.5px solid lightgray;
}

.new-members {
  grid-area: new-members;
  border-bottom: 0.5px solid lightgray;
}

.activity {
  grid-area: activity;
  border-bottom: 0.5px solid lightgray;
}

.message {
  grid-area: message;
  border-bottom: 0.5px solid lightgray;
}

.settings {
  grid-area: settings;
  border-bottom: 0.5px solid lightgray;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/*-----widget-----*/
.widget {
  position: relative;
}

.widget-heading {
  font-weight: 400;
  color: gray;
  position: absolute;
  top: 25px;
  left: 25px;
}

/*---header---*/
.your-app {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.bell-icon {
  margin: 1em auto;
  padding-right: 1em;
  padding-top: 0.5em;
  width: 2.5rem;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 2px solid gray;
  width: 200px;
  padding: 0 1rem;
}

.profile-pic {
  width: 40px;
  border-radius: 50%;
}

/*-----main-header-----*/
.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}

.main-header-search {
  display: flex;
  width: 65%;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
  background-color: #eee;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.main-header-search input {
  height: 35px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 10px;
  padding-left: 10px;
}

.main-header-search input::placeholder {
  font-size: 1rem;
  color: #eee;
}

.headline {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-top: -8px;
  width: 35%;
}

/*-----traffic-----*/
.widget-container-full {
  position: relative;
  padding-top: 3rem;
}

.traffic-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

#traffic-nav {
  display: flex;
  list-style-type: none;
}
#traffic-nav li {
  margin: 0 1rem;
  font-size: 0.75rem;
}

.traffic-nav-link {
  padding: 0.5rem;
  cursor: pointer;
}

/*-----social stats-----*/
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 5rem 0;
}

.social-box {
  border: 0.5px solid lightgray;
  background-color: #eee;
  margin: 1rem;
  height: 125px;
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.social-icon {
  width: 55px;
  height: 55px;
  background-color: #4d4c72;
  padding: 0.75rem;
  margin: 0px 20px;
  border-radius: 50%;
}

.svg-twit {
  height: 35px;
  width: 35px;
  transform: translate(-2px, 2px);
}

.svg-goog {
  height: 35px;
  width: 35px;
  transform: translateX(-2px);
}

.svg-fb {
  height: 40px;
  width: 40px;
  transform: translate(-4px, -4px);
}

.fill-white {
  fill: white;
}

.social-text {
  font-size: 1rem;
  font-weight: bold;
}

.social-text p:first-child {
  color: #7377bf;
}

.count {
  font-size: 2rem;
  font-weight: 200;
  color: gray;
  margin-top: -5px;
}

/*-----message users-----*/
.message-user-search {
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem;
}
.message-user-search input {
  height: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 1rem;
}
.message-user-search textarea {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 1rem;
}

/*-----new members-----*/
.container {
  padding: 4rem 2rem;
}

.member {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
}
.member:not(:last-child) {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
}
.member h4 {
  color: gray;
  letter-spacing: 1px;
}

.member-image {
  margin-right: 1rem;
}

.email {
  letter-spacing: 0.5px;
  color: #7377bf;
}

.username {
  font-size: 0.75rem;
}

.date {
  margin-left: auto;
  font-size: 0.7rem;
}

.fa-chevron-right {
  font-size: 1rem;
}

/*-----settings-----*/
.option {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  width: 60%;
}
.option p {
  margin-right: 1rem;
  font-size: 0.75rem;
}

select {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.settings-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.settings-buttons button {
  width: 50%;
  margin: 0 1rem;
}

.btn {
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.btn--primary {
  background-color: #7377bf;
  color: white;
  transition: 0.2s all;
}
.btn--primary:hover {
  background-color: #5055af;
}
.btn--gray {
  background-color: gray;
  color: white;
  transition: 0.2s all;
}
.btn--gray:hover {
  background-color: #676767;
}

.active {
  background-color: #7377bf;
  color: white;
  padding: 0.5rem;
  border-radius: 50px;
}

.alert-banner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(115, 119, 191, 0.25);
  height: 25px;
  margin: 0 25px;
  border: 2px solid #7377bf;
  border-radius: 5px;
}

.alert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-banner-close {
  width: 10px;
  height: 10px;
  margin-top: -8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  z-index: 100;
}

.bell-notification:hover {
  animation: ring 1s;
  cursor: pointer;
}

.bell-icon {
  position: relative;
}

.bell-dot {
  background-color: red;
  position: absolute;
  top: 0;
  right: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@keyframes ring {
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: rotate(-5deg) scale(1.1);
  }
  30% {
    transform: rotate(5deg) scale(1.1);
  }
  40% {
    transform: rotate(-5deg) scale(1.1);
  }
  50% {
    transform: rotate(5deg) scale(1.1);
  }
  60% {
    transform: rotate(-5deg) scale(1.1);
  }
  70% {
    transform: rotate(5deg) scale(1.1);
  }
  80% {
    transform: rotate(-5deg) scale(1.1);
  }
  90% {
    transform: rotate(5deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
/*-----media queries-----*/
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 80px auto;
    /*prettier-ignore*/
    grid-template-areas: "header header" "nav main";
  }

  header,
nav {
    position: static;
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  main {
    grid-area: main;
    display: grid;
    grid-template-rows: 80px 95vh repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    /*prettier-ignore*/
    grid-template-areas: "main-header main-header" "dashboard dashboard" "traffic mobile" "social social" "new-members activity" "message settings";
  }

  .main-header-search input {
    width: 40%;
  }

  .traffic {
    padding: 1rem;
  }

  .mobile {
    border-left: 0.5px solid lightgray;
    padding: 1rem;
  }

  .activity {
    border-left: 0.5px solid lightgray;
  }

  .settings {
    border-left: 0.5px solid lightgray;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .social-box {
    width: 30%;
    height: 130px;
  }

  .count {
    font-size: 2rem;
    font-weight: 200;
    color: gray;
    margin-top: -5px;
  }
}
@media (min-width: 1024px) {
  .count {
    font-size: 3rem;
  }

  .social-text {
    font-size: 1.25rem;
  }

  .social-icon {
    height: 75px;
    width: 75px;
    padding: 0.75;
  }

  .svg-twit {
    height: 55px;
    width: 55px;
  }

  .svg-goog {
    height: 55px;
    width: 55px;
  }

  .svg-fb {
    height: 60px;
    width: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
