/*-----widget-----*/

.widget {
	position: relative;
}

.widget-heading {
	font-weight: 400;
	color: gray;
	position: absolute;
	top: 25px;
	left: 25px;
}

/*---header---*/

.your-app {
	font-size: 1.5rem;
	padding-left: 1rem;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}

.bell-icon {
	margin: 1em auto;
	padding-right: 1em;
	padding-top: .5em;
	width: 2.5rem;
}

.user-name {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-left: 2px solid gray;
	width: 200px;
	padding: 0 1rem;
}

.profile-pic {
	width: 40px;
	border-radius: 50%;
}

/*-----main-header-----*/
.main-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 100px;
}

.main-header-search {
	display: flex;
	width: 65%;
	margin-left: auto;
	justify-content: flex-end;
	align-items: center;
	background-color: #eee;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.main-header-search input {
	height: 35px;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 0 10px;
	padding-left: 10px;
}

.main-header-search input::placeholder {
	font-size: 1rem;
	color: #eee;
}

.headline {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
	margin-top: -8px;
	width: 35%;
}

/*-----traffic-----*/
.widget-container-full {
	position: relative;
	height: 95%;
	padding-top: 3rem;
}

.traffic-header {
	display: flex;
	justify-content: space-between;
	padding: 2rem 2rem 0 2rem;
}

#traffic-nav {
	display: flex;
	list-style-type: none;
	li {
		margin: 0 1rem;
		font-size: .75rem;
		.active {
			background-color: lightgreen;
			border: 1px solid green;
			border-radius: 25px;
		}
	}
}

.traffic-nav-link {
	padding: .5rem;
	cursor: pointer;
}

/*-----social stats-----*/
.social {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	padding: 5rem 0;
}

.social-box {
	border: .5px solid lightgray;
	background-color: #eee;
	margin: 1rem;
	height: 125px;
	width: 75%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
}

.social-icon {
	width: 55px;
	height: 55px;
	background-color: blue;
	padding: .75rem;
	margin: 0px 20px;
	border-radius: 50%;
}

.svg-twit {
	height: 35px;
	width: 35px;
	transform: translate(-2px, 2px);
}

.svg-goog {
	height: 35px;
	width: 35px;
	transform: translateX(-2px);
}

.svg-fb {
	height: 40px;
	width: 40px;
	transform: translate(-4px, -4px);
}

.fill-white {
	fill: white;
}

.social-text {
	font-size: 1rem;
	font-weight: bold;
}

.social-text p:first-child {
	color: #7d4a95;
}

.count {
	font-size: 2rem;
	font-weight: 200;
	color: gray;
	margin-top: -5px;
}

/*-----message users-----*/

.message-user-search {
	display: flex;
	flex-direction: column;
	margin: 4rem 2rem;
	input {
		height: 2.5rem;
		margin-bottom: 1rem;
		border-radius: 5px;
		border: 1px solid lightgray;
		padding: 1rem;
	}
	textarea {
		margin-bottom: 1rem;
		border-radius: 5px;
		border: 1px solid lightgray;
		padding: 1rem;
	}
}

/*-----new members-----*/
.container {
	padding: 4rem 2rem;
}

.member {
	display: flex;
	width: 100%;
	align-items: center;
	padding-top: 1rem;
	&:not(:last-child) {
		border-bottom: 1px solid lightgray;
		padding-bottom: 1rem;
	}
	h4 {
		color: gray;
		letter-spacing: 1px;
	}
}

.member-image {
	margin-right: 1rem;
}

.email {
	letter-spacing: .5px;
	color: #7d4a95;
}

.username {
	font-size: .75rem;
}

.date {
	margin-left: auto;
	font-size: .7rem;
}

.fa-chevron-right {
	font-size: 1rem;
}

/*-----settings-----*/

.option {
	display: flex;
	align-items: center;
	padding: 1rem;
	justify-content: space-between;
	width: 60%;
	p {
		margin-right: 1rem;
		font-size: .75rem;
	}
}

select {
	padding: 1rem;
	margin: 1rem;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.settings-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	button {
		width: 50%;
		margin: 0 1rem;
	}
}
