* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 62.5%;
}

.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 80px 80px auto;
	/*prettier-ignore*/
	grid-template-areas: 
        "header" 
        "nav"
        "main";
}

header {
	grid-area: header;
	background-color: blueviolet;
	font-weight: 200;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 100;
}

nav {
	grid-area: nav;
	background-color: chartreuse;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 80px;
	z-index: 100;
}

nav img {
	width: 40px;
	margin: 1rem;
}

main {
	grid-area: main;
	background-color: coral;
	display: grid;
	grid-template-rows: repeat(8, minmax(300px, 1fr));
	grid-template-columns: 1fr;
	/*prettier-ignore*/
	grid-template-areas:
        "dashboard"
        "traffic"
        "mobile"
        "social"
        "new-members"
        "activity"
        "message"
        "settings";
}

.dashboard {
	grid-area: dashboard;
	background-color: #eee;
}

.traffic {
	grid-area: traffic;
	background-color: #fff;
}

.mobile {
	grid-area: mobile;
	background-color: #aaa;
}

.social {
	grid-area: social;
	background-color: #eee;
}

.new-members {
	grid-area: new-members;
	background-color: #fff;
}

.activity {
	grid-area: activity;
	background-color: #aaa;
}

.message {
	grid-area: message;
	background-color: #aaa;
}

.settings {
	grid-area: settings;
	background-color: #eee;
}

/*---header---*/

.your-app {
	font-size: 1.5rem;
	padding-left: 1rem;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}

.bell-icon {
	margin: 1em auto;
	padding-right: 1em;
	padding-top: .5em;
	width: 1.5rem;
}

.user-name {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-left: 2px solid gray;
	width: 150px;
	padding: 0 1rem;
}

.profile-pic {
	width: 40px;
	border-radius: 50%;
}

/*-----social stats-----*/
.social {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
}

.social h2 {
	position: absolute;
	top: 10%;
	left: 5%;
}

.social-box {
	border: 2px solid gray;
	height: 35%;
	width: 25%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 5px;
}

.social-icon {
	width: 20%;
	margin: 1rem;
}

.social-icon img {
	background-color: darkblue;
	border-radius: 50%;
	width: 40px;
	color: white;
}

/*-----media queries-----*/
@media (min-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: 90px auto;
		grid-template-rows: 80px auto;
		/*prettier-ignore*/
		grid-template-areas: 
            "header header" 
            "nav main";
	}

	header,
	nav {
		position: static;
	}

	nav {
		flex-direction: column;
		justify-content: flex-start;
	}

	main {
		grid-area: main;
		background-color: coral;
		display: grid;
		grid-template-rows: repeat(5, minmax(400px, 1fr));
		grid-template-columns: 1fr 1fr;
		/*prettier-ignore*/
		grid-template-areas:
            "dashboard dashboard"
            "traffic mobile"
            "social social"
            "new-members activity"
            "message settings";
	}
}
