/*-----base-----*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	font-feature-settings: "lnum" 1;
	font-size: 62.5%;
}

/*-----grid layout-----*/

.grid-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 80px 80px auto;
	grid-gap: 0px;
	/*prettier-ignore*/
	grid-template-areas: 
        "header" 
        "nav"
        "main";
}

header {
	grid-area: header;
	background-color: #7d4a95;
	font-weight: 200;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 100;
}

nav {
	grid-area: nav;
	background-color: #533180;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 80px;
	z-index: 100;
}

nav img {
	width: 40px;
	margin: 1rem;
}

main {
	grid-area: main;
	background-color: #fefefe;
	display: grid;
	grid-template-rows: repeat(8, minmax(300px, auto));
	grid-template-columns: 1fr;
	grid-gap: 0px;
	/*prettier-ignore*/
	grid-template-areas:
        "dashboard"
        "traffic"
        "mobile"
        "social"
        "new-members"
        "activity"
        "message"
        "settings";
}

.dashboard {
	grid-area: dashboard;
	border-bottom: .5px solid lightgray;
}

.traffic {
	grid-area: traffic;
	border-bottom: .5px solid lightgray;
}

.mobile {
	grid-area: mobile;
	border-bottom: .5px solid lightgray;
}

.social {
	grid-area: social;
	border-bottom: .5px solid lightgray;
}

.new-members {
	grid-area: new-members;
	border-bottom: .5px solid lightgray;
}

.activity {
	grid-area: activity;
	border-bottom: .5px solid lightgray;
}

.message {
	grid-area: message;
	border-bottom: .5px solid lightgray;
}

.settings {
	grid-area: settings;
	border-bottom: .5px solid lightgray;
}

/*---header---*/

.your-app {
	font-size: 1.5rem;
	padding-left: 1rem;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}

.bell-icon {
	margin: 1em auto;
	padding-right: 1em;
	padding-top: .5em;
	width: 1.5rem;
}

.user-name {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-left: 2px solid gray;
	width: 150px;
	padding: 0 1rem;
}

.profile-pic {
	width: 40px;
	border-radius: 50%;
}

/*-----widget-----*/

.widget {
	position: relative;
}

.widget-heading {
	font-weight: 400;
	color: gray;
	position: absolute;
	top: 25px;
	left: 25px;
}

/*-----social stats-----*/
.social {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	padding: 5rem 0;
}

.social-box {
	border: .5px solid lightgray;
	margin: 1rem;
	height: 200px;
	width: 75%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 5px;
}

.social-icon {
	width: 20%;
	/* background-color: blue; */
	padding: 1rem;
	fill: white;
	/* border-radius: 50%;  */
}

.social-text {
	font-size: 1rem;
	font-weight: bold;
	color: lavender;
}

.count {
	font-size: 2.5rem;
	font-weight: 200;
}

/*-----media queries-----*/

@media (min-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: 90px auto;
		grid-template-rows: 80px auto;
		/*prettier-ignore*/
		grid-template-areas: 
            "header header" 
            "nav main";
	}

	header,
	nav {
		position: static;
	}

	nav {
		flex-direction: column;
		justify-content: flex-start;
	}

	main {
		grid-area: main;
		display: grid;
		grid-template-rows: repeat(5, minmax(400px, 1fr));
		grid-template-columns: 1fr 1fr;
		/*prettier-ignore*/
		grid-template-areas:
            "dashboard dashboard"
            "traffic mobile"
            "social social"
            "new-members activity"
            "message settings";
	}

	.mobile {
		border-left: .5px solid lightgray;
	}

	.activity {
		border-left: .5px solid lightgray;
	}

	.settings {
		border-left: .5px solid lightgray;
	}

	.social {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
	}

	.social-box {
		width: 30%;
		height: 150px;
	}
}
