.alert-banner {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: rgba($color-primary, .25);
	height: 25px;
	margin: 0 25px;
	border: 2px solid $color-primary;
	border-radius: 5px;
}

.alert {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alert-banner-close {
	width: 10px;
	height: 10px;
	margin-top: -8px;
	cursor: pointer;
	font-weight: 400;
	font-size: 1rem;
	z-index: 100;
}

.bell-notification:hover {
	animation: ring 1s;
	cursor: pointer;
}

.bell-icon {
	position: relative;
}

.bell-dot {
	background-color: red;
	position: absolute;
	top: 0;
	right: 15px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
