.btn {
	height: 2.5rem;
	border: none;
	border-radius: 5px;
	box-shadow: 0 .5rem 1rem rgba(black, .25);
	&--primary {
		background-color: $color-primary;
		color: white;
		transition: .2s all;
		&:hover {
			background-color: darken($color-primary, 10%);
		}
	}
	&--gray {
		background-color: gray;
		color: white;
		transition: .2s all;
		&:hover {
			background-color: darken(gray, 10%);
		}
	}
}

.active {
	background-color: $color-primary;
	color: white;
	padding: .5rem;
	border-radius: 50px;
}

.switch-ios.switch-light input:checked ~ span {
	border-color: $color-primary;
	box-shadow: inset 0 0 0 30px $color-primary;
}
