/*-----grid layout-----*/

.grid-container {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 80px 80px auto;
	grid-gap: 0px;
	/*prettier-ignore*/
	grid-template-areas: 
        "header" 
        "nav"
        "main";
}

header {
	grid-area: header;
	background-color: $color-primary;
	font-weight: 200;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 100;
	flex-wrap: wrap;
}

nav {
	grid-area: nav;
	background-color: $color-secondary;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 80px;
	z-index: 100;
}

nav img {
	width: 40px;
	margin: 1rem;
}

main {
	grid-area: main;
	background-color: #fefefe;
	display: grid;
	grid-template-rows: 80px repeat(8, minmax(300px, auto));
	grid-template-columns: 100vw;
	grid-gap: 0px;
	/*prettier-ignore*/
	grid-template-areas:
        "main-header"
        "dashboard"
        "traffic"
        "mobile"
        "social"
        "new-members"
        "activity"
        "message"
        "settings";
}

.main-header {
	grid-area: main-header;
}

.dashboard {
	grid-area: dashboard;
	border-bottom: .5px solid lightgray;
	padding: 1rem;
}

.traffic {
	grid-area: traffic;
	border-bottom: .5px solid lightgray;
	padding: 1rem;
}

.mobile {
	grid-area: mobile;
	border-bottom: .5px solid lightgray;
	padding: 1rem;
}

.social {
	grid-area: social;
	border-bottom: .5px solid lightgray;
}

.new-members {
	grid-area: new-members;
	border-bottom: .5px solid lightgray;
}

.activity {
	grid-area: activity;
	border-bottom: .5px solid lightgray;
}

.message {
	grid-area: message;
	border-bottom: .5px solid lightgray;
}

.settings {
	grid-area: settings;
	border-bottom: .5px solid lightgray;
}

.break {
	flex-basis: 100%;
	height: 0;
}
